/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling for header 1 */
.header1 {
    background: linear-gradient(to right, rgba(255, 215, 0, 0.9), rgba(255, 215, 0, 0.7)); /* Shiny gold gradient */
    height: 0.25in; /* Set header height to 0.25 inches */
    color: #fff;
    font-family: Arial, sans-serif; /* Use a sans-serif font */
}

/* Basic styling for header 2 */
.header2 {
    background-color: #333; /* Darker black color */
    height: 0.8in; /* Set header height to 0.8 inches */
    position: relative; /* Ensure positioning context for child elements */
    color: #fff; /* Set text color to white */
}

/* Centered church name */
.church-name {
    text-align: center;
    position: relative; /* Ensure positioning context */
    z-index: 1; /* Set a higher z-index to ensure it appears in front */
}

/* Church name styling */
.church-name h1 {
    font-weight: bold;
    font-family: Arial, sans-serif; /* Use a different font family */
}

/* Adjusted position for navigation */
nav {
    position: absolute;
    bottom: 20px;
    right: 120px; /* Adjust as needed */
}

/* Adjusted position for logo */
.logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px; /* Adjust as needed */
}

/* Adjusted size for the logo */
.logo img {
    max-width: 150px; /* Set the maximum width of the logo */
    height: 60%; /* Set the maximum height of the logo */
    height: auto; /* Allow the height to adjust automatically */
}

/* Additional styles for navigation links */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial, sans-serif; /* Use a different font family */
}
