/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling for header */
header {
    background: linear-gradient(to right, rgba(255, 215, 0, 0.9), rgba(255, 215, 0, 0.7)); /* Shiny gold gradient */
    height: 0.25in; /* Set header height to 0.25 inches */
    color: #fff;
    font-family: Arial, sans-serif; /* Use a sans-serif font */
}

/* Styling for banner */
.banner {
    background-color: #333; /* Darker black color */
    color: #fff;
    text-align: right; /* Align text to the right */
    padding: 0.2in 20px; /* Set banner padding */
    font-family: Arial, sans-serif; /* Use a sans-serif font */
    height: 1in; /* Set banner height to 1 inch */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Spread content horizontally */
    align-items: center; /* Vertically center content */
}

.banner .logo {
    flex-shrink: 0; /* Prevent logo from shrinking */
    margin-right: 20px; /* Add margin to the right of the logo */
}

.banner .logo img {
    width: 100%; /* Set the width of the logo to fill its container */
    height: auto; /* Ensure the height adjusts automatically */
    max-width: 150px; /* Set maximum width of the logo */
}

.banner nav ul {
    list-style: none; /* Remove default list style */
    margin: 0; /* Remove default margin */
}

.banner nav ul li {
    display: inline;
    margin-left: 20px;
}

.banner nav ul li:last-child {
    margin-right: 0; /* Remove margin from the last navigation item */
}
